/* Ensuring no margin or padding  */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* Styling for container */
.container{
    height:100vh;
    display:flex;
}
/* Styling for left box */
.box-left img{
    width:50vw;
    height:100vh;
}
/* Styling for subcontainer */
.subcontainer{
    width:100%;
    max-width: 400px;
}
/* Styling for right box */
.box-right{
    width:50vw;
    height:100vh;
    background-color:lavender;
    display:flex;
    flex-direction: column;
    padding: 0 10%;
    justify-content: center;
    align-items: center;

}
/* Styling for h1 heading */
.box-right h1{
    font-family: cursive;
    text-align: center;
    font-size: 40px;
}
/* Styling for para p */
.box-right p{
    color: rgb(68, 65, 65);
    text-align: center;
}
/* Styling for form */
.form label{
    font-size: 1rem;
    color:#666;
    display: block;
    margin-bottom: 5px;
}
.form input{
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
}
/* Styling for button */
.btn{
    width:100%;
    padding: 12px;

    height:50px;
    margin-top: 10px;
    background-color:#ccccff;
    color:white;
    border-radius: 8px;
    font-size:1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn:hover{
    background-color: #9d9dcc;
}
/* Styling for forgot password button */
.forgotpass{
    text-align: right;
    width: 100%;
    font-size: 0.8rem;
    margin-bottom: 20px;
}
/* Styling for register now link */
.registernow{
    text-align: center;
    width:100%;
    margin-top: 20px;
    font-size: 0.9rem;
    color:#666;
}
.registernow p{
    margin: 0;
}
.registernow a{
    text-decoration: none;
    font-weight: bold;
}
.registernow a:hover{
    text-decoration: underline;
}